<% provide(:title, 'Shipper') %>

<div class="box_2">
	<div class="row">
		<div class="small-9 columns main">
			<%= render 'shared/breadcrumbs' %>
			<%= form_for order, url: checkout_shipping_path(id: order) do |f| %>
				<%= render 'shared/errors', object: f.object %>
				<%if !@ups_rates.empty? %> 
					<fieldset id="shipper">
						<legend><%= 'UPS Options' %></legend>
						<table class="confirm-table">
							<% @ups_rates.each_with_index do |rate, index| %>
								<% ship_method = rate.service_name + ', ' + rate.price.to_s %>
								<tr>
									<td>
										<%= eval(make_radio_button(rate, index)) %>
										<%= f.label :shipping_method, rate.service_name %>
									</td>
									<td>
										<%= cents_to_dollars(rate.price, precision: 2) %>
									</td>
								</tr>
							<% end %>
						</table>
					</fieldset>
				<% end %>
				<%if !@usps_rates.empty? %> 
					<fieldset id="shipper">
						<legend><%= 'USPS Options' %></legend>
						<table class="confirm-table">
							<% @usps_rates.each_with_index do |rate, index| %>
								<% ship_method = rate.service_name + ', ' + rate.price.to_s %>
								<tr>
									<td>
										<%= eval(make_radio_button(rate, index)) %>
										<%= f.label :shipping_method, rate.service_name %>
									</td>
									<td>
										<%= cents_to_dollars(rate.price, precision: 2) %>
									</td>
								</tr>
							<% end %>
						</table>
					</fieldset>
				<% end %> 
				<div class="button-box">
					<% if order.express_token %>
					<%= link_to 'Back to PayPal', @paypal_url, class: 'button user' %>
					<% else %>
					<%= link_to 'Back to Addresses', new_checkout_address_path(cart), class: 'button user' %>
					<% end %>
					<%= f.submit 'Continue Checkout', class: 'button user' %>
				</div>
			<% end %>
		</div>
		<div class="small-3 columns sidebar">
			<%= render 'layouts/sidebar' %>
		</div>
	</div>	
</div>
