= provide(:title, 'Site Admin')

.box_2
  .row
    .small-9.columns
      - if signed_in_admin?
        %p= link_to "View Users", users_path
        %p= link_to "View Orders", orders_path
        %p= link_to "View FAQs Categories", faqs_categories_path
        %p= link_to "View Product Categories", product_categories_path
        %p= link_to "View Components", components_path
        %p= link_to "View BOMs", boms_path
        = form_tag(sales_tax_orders_path(@orders), method: "get") do
          = label_tag(:from, "From:")
          = date_field_tag :from, Date.current
          = label_tag(:to, "To:")
          = date_field_tag :to, Date.current
          = submit_tag("Calculate Sales Tax")
      - else
        %p= link_to "Please log in", signin_path
    .small-3.columns
      = render 'layouts/sidebar_left'