= provide(:title, 'Site Admin')

.box_2
  .row
    .small-9.columns
      - if signed_in_admin?
        .date-search
          %p= link_to "BOMs", boms_path
          &nbsp; | &nbsp;
          %p= link_to "Components", components_path
          &nbsp; | &nbsp;
          %p= link_to "FAQs Categories", faqs_categories_path
          &nbsp; | &nbsp;
          %p= link_to "Orders", orders_path
          &nbsp; | &nbsp;
          %p= link_to "Product Categories", product_categories_path
          &nbsp; | &nbsp;
          %p= link_to "Users", users_path
        .date-search
          = form_tag(sales_tax_orders_path(@orders), method: "get") do
            = label_tag(:from, "From:")
            = date_field_tag :from, Date.current
            = label_tag(:to, "To:")
            = date_field_tag :to, Date.current
            = submit_tag("Calculate Sales Tax")
      - else
        %p= link_to "Please log in", signin_path
    .small-3.columns
      = render 'layouts/sidebar_left'