<% provide(:title, 'Home') %>

<div class="slider-box">
	<ul class="example-orbit" data-orbit>
		<% @slider_images.each do |image| %>
		  <li>
				<%= link_to image_tag(image.image_url), image.product_url %>
		    <div class="orbit-caption">
		    	<%= image.caption %>
				</div>
			</li>
		<% end %>
	</ul>
</div>

<% if signed_in_admin? %>
 	<div class="admin-box">
		<%= link_to 'New Slider Image', new_slider_image_path, class: "button admin" %>
		<%= link_to 'Edit Slider Images', slider_images_path, class: "button admin" %>
	</div>
<% end %>

<div class="box_2">
	<div class="row">
		<div class="small-3 columns">
			<%= render 'layouts/sidebar_left' %>
		</div>
		<div class="small-9 columns">
			<div class="small-centered columns">
				<p>
					<h4><span class="red-60">Q:&nbsp;</span>WHO MAKES THE BEST PREAMPS FOR THE MONEY?</h4>
					<h4><span class="red-60">A:&nbsp;</span>YOU DO.</h4>
				</p>
			</div>
			<div class="small-centered columns">
				<p>Seventh Circle Audio provides professional quality electronic kits and support to handy audio recording engineers. Our flexible, modular <%= link_to "preamp kits", products_path %> provide a full range of "colors" suitable for any application and are in daily use by recordists world-wide.</p>
				
				<ul class>
					<li><span class="aH6B">Assemble</span> your own world-class microphone preamp by combining a <%= link_to "CH02", products_path %> or <%= link_to "OneShot", products_path %> chassis and up to eight of our superb <%= link_to "amplifier modules", products_path %>.</li>
					<li><span class="aH6B">Customize</span> your system to suit your current needs and expand as your studio grows. We currently have five preamp modules available, each with its own distinct personality, as well as a 2-channel active instrument DI and our extremely flexible B16 compressor. More modules are on the way!</li>
					<li><span class="aH6B">Improve</span> your skills as an engineer by learning about electronics, or order fully-assembled units to save time and still save money.</li>
					<li><span class="aH6B">Impress</span> your clients with what you can build, not just what you can buy.</li>
					<li><span class="aH6B">Save money!</span> Stretch your studio budget by investing your down time in DIY.</li>
				</ul>
				
				<p>Each kit is thoroughly documented with assembly instructions, bills of material and schematics. All the documentation is freely downloadable so you can be ready to go before your kits arrive. If you get stuck or have questions, support is available via <a href="mailto:sales@seventhcircleaudio.com">e-mail</a> and the <%= link_to "message board", forums_path %>. We <%= link_to "guarantee", repairs_path %> you won't be stuck with a non-working kit!</p>
			</div>
		</div>
	</div>	
</div>
