<% provide(:title, 'Resources') %>

<div class="box_2">
	<div class="row">
		<div class="small-9 columns">
			<h4 class="section-header">DIY Electronics Resources</h4>
			<ul>
				<li>Basic Skills
					<ul>
						<li><%= link_to 'Soldering Guide', "http://www.solderinguide.com/" %></li>
						<li><%= link_to 'Wikipedia Multimeter', "http://en.wikipedia.org/wiki/Multimeter" %></li>
						<li><%= link_to 'Multimeter', "http://www.kpsec.freeuk.com/multimtr.htm" %></li>
						<li><%= link_to 'Electronics Club', "http://www.kpsec.freeuk.com/index.htm" %></li>
						<li><%= link_to 'Wikipedia Soldering', "http://en.wikipedia.org/wiki/Soldering" %></li>
					</ul>
				</li>
				<li>Beginner Kits
					<ul>
						<li><%= link_to 'Velleman', "http://www.vellemanusa.com/engine.php" %></li>
						<li><%= link_to 'BYOC', "http://www.buildyourownclone.com/" %></li>
						<li><%= link_to 'PAIA', "http://www.paia.com/" %></li>
						<li><%= link_to 'Heathkit', "http://en.wikipedia.org/wiki/Heathkit" %></li>
					</ul>
				</li>
				<li>Audio DIY
					<ul>
						<li><%= link_to 'Jensen Transformers', "http://www.jensen-transformers.com/" %></li>
						<li><%= link_to 'AudioXpress', "http://www.audioxpress.com/index.html" %></li>
						<li><%= link_to 'The Lab', "http://www.prodigy-pro.com/forum/" %></li>
						<li><%= link_to 'DIY Audio', "http://www.diyaudio.com/" %></li>
						<li><%= link_to 'John L Sayers', "http://www.johnlsayers.com/" %></li>
					</ul>
				</li>
				<li>Electronics Reference
					<ul>
						<li><%= link_to 'Technical Books Online', "http://www.pmillett.com/technical_books_online.htm" %></li>
						<li><%= link_to 'Electronics Links', "http://www.astro.cornell.edu/staff/loredo/ee.html#analog" %></li>
						<li><%= link_to 'Electrodyne History', "http://www.silvertonemastering.com/electro/Electrodyne_page1.html" %></li>
					</ul>
				</li>
				<li>Semiconductor Data
					<ul>
						<li><%= link_to 'Analog Devices', "http://www.analog.com/en/" %></li>
						<li><%= link_to 'Fairchild Semiconductor', "http://www.fairchildsemi.com/" %></li>
						<li><%= link_to 'Linear Technologies', "http://www.linear.com/" %></li>
						<li><%= link_to 'Texas Instruments', "http://www.ti.com/" %></li>
						<li><%= link_to 'That Corporation', "http://www.thatcorp.com/" %></li>
					</ul>
				</li>
				<li>Electronic Parts Distributors
					<ul>
						<li><%= link_to 'Mouser Electronics', "http://www.mouser.com/home.aspx" %></li>
						<li><%= link_to 'Digi-Key', "http://www.digikey.com/" %></li>
						<li><%= link_to 'HMC Electronics', "http://www.hmcelectronics.com/index.html" %></li>
						<li><%= link_to 'MCM', "http://www.mcminone.com/" %></li>
						<li><%= link_to 'Fluke', "http://us.fluke.com/usen/home/default.htm" %></li>
						<li><%= link_to 'B+K Precision', "http://www.bkprecision.com/" %></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="small-3 columns">
			<%= render 'layouts/sidebar_left' %>
		</div>	
	</div>	
</div>
