<div class="depot_form">
	<%= form_tag sessions_path do %>
		<fieldset>
			<legend>Sign in</legend>
			<div class="field">
				<%= label :email, 'Email:' %>
				<%= text_field :email, size: 40 %>
			</div>
			<div class="field">
				<%= label :password, 'Password:' %>
				<%= password_field :password, size: 40 %>
			</div>
			<div class="field">
				<%= label :password_confirmation, 'Confirm:' %>
				<%= password_field :password_confirmation, size: 40 %>
			</div>
			<div class="actions"><%= submit_tag 'Sign in'%></div>
		</fieldset>
	<% end %>
</div>

