<div class="depot_form">
	<%= form_for(:session, url: sessions_path) do |f| %>
		<fieldset>
			<legend>Sign in</legend>
			<div class="field">
				<%= f.label :email, 'Email:' %>
				<%= f.text_field :email, size: 40 %>
			</div>
			<div class="field">
				<%= f.label :password, 'Password:' %>
				<%= f.password_field :password, size: 40 %>
			</div>
			<div class="field">
				<%= f.label :password_confirmation, 'Confirm:' %>
				<%= f.password_field :password_confirmation, size: 40 %>
			</div>
			<div class="actions"><%= submit_tag 'Sign in'%></div>
		</fieldset>
	<% end %>
</div>

