.grid-x
  .small-4.cells &nbsp
  .small-6.cells
    %fieldset
      .field(style='font-weight: bold')
        .grid-x
          .small-4.cells= 'Component'
          .small-shrink.cells= f.mfr_part_number
      .grid-x
        .small-12.cells &nbsp;
      .field
        .grid-x
          .small-4.cells= 'Mfr'
          .small-shrink.cells= f.mfr
      .field
        .grid-x
          .small-4.cells= 'Mfr Part Number'
          .small-shrink.cells= f.mfr_part_number
      .field
        .grid-x
          .small-4.cells= 'Vendor'
          .small-shrink.cells= f.vendor
      .field
        .grid-x
          .small-4.cells= 'Vendor Part Number'
          .small-shrink.cells= f.vendor_part_number
      .field
        .grid-x
          .small-4.cells= 'Value'
          .small-shrink.cells= f.value
      .field
        .grid-x
          .small-4.cells= 'Marking'
          .small-shrink.cells= f.marking
      .field
        .grid-x
          .small-4.cells= 'Description'
          .small-shrink.cells= f.description
      .field
        .grid-x
          .small-4.cells= 'Component Stock'
          .small-shrink.cells= f.stock
      -unless f.bom.nil?
        .field
          .grid-x
            .small-4.cells= 'BOM Stock'
            .small-shrink.cells= f.bom_stock
      .field
        .grid-x
          .small-4.cells= 'Lead Time'
          .small-shrink.cells= f.lead_time
  .small-shrink.cells &nbsp