.row
  .small-2.columns &nbsp
  .small-8.columns
    %fieldset
      .row
        %legend
          .small-3.columns= 'Component'
          .small-9.columns= f.mfr_part_number
      .row
        .small-12.columns &nbsp;
      .field
        .row
          .small-3.columns= 'Mfr'
          .small-9.columns= f.mfr
      .field
        .row
          .small-3.columns= 'Mfr Part Number'
          .small-9.columns= f.mfr_part_number
      .field
        .row
          .small-3.columns= 'Vendor'
          .small-9.columns= f.vendor
      .field
        .row
          .small-3.columns= 'Vendor Part Number'
          .small-9.columns= f.vendor_part_number
      .field
        .row
          .small-3.columns= 'Value'
          .small-9.columns= f.value
      .field
        .row
          .small-3.columns= 'Marking'
          .small-9.columns= f.marking
      .field
        .row
          .small-3.columns= 'Description'
          .small-9.columns= f.description
      .field
        .row
          .small-3.columns= 'Stock'
          .small-9.columns= f.stock
      .field
        .row
          .small-3.columns= 'Lead Time'
          .small-9.columns= f.lead_time
  .small-2.columns &nbsp