%tr
  %td= link_to component.mfr_part_number, component
  %td= component.value
  %td= link_to component.description, component
  %td= component.mfr
  %td(style='text-align: right')= link_to component.stock, component
  -if component.bom
    %td(style='text-align: right')= link_to component.bom_stock, component.bom
  -else
    %td &nbsp;
  %td= link_to_unless(component.size_weight_price_tag.nil?, "Tag", [:component, :tag, component_id: component, id: component.size_weight_price_tag]){}
  %td= link_to "delete", component, method: :delete, data: { confirm: "Are you sure?" }