%table.confirm-cart
  %tr#header
    %th#item Mfr Number
    %th#line Value
    %th#item Marking
    %th#item Description
    %th#item Mfr
    %th#item Vendor
    %th#item Stock
    %th#item Delete

  - @components.each_with_index do |component, index|
    %tr
      %td.item-cell= link_to component.mfr_part_number, edit_component_path(component)
      %td.item-cell= component.value
      %td.item-cell= component.marking
      %td.item-cell= component.description
      %td.item-cell= component.mfr
      %td.item-cell= component.vendor
      %td.item-cell= component.stock
      %td.item-cell= link_to "delete", component, method: :delete, data: { confirm: "Are you sure?" }