%tr
  %td= link_to component.mfr_part_number, component_path(component)
  %td= component.value
  %td= component.marking
  %td= component.description
  %td= component.mfr
  %td= component.stock
  %td= link_to_unless(component.size_weight_price_tag.nil?, "tag", [:component, :tag, component_id: component, id: component.size_weight_price_tag]){}
  %td= link_to "delete", component, method: :delete, data: { confirm: "Are you sure?" }