.grid-x
  .small-2.cells
  .small-8.cells
    %fieldset
      %legend(style='width: 100%; padding-top: 1rem')
        .grid-x
          .small-3.cells
            = legend
          .small-9.cells
            = f.object.mfr_part_number
      .field
        .grid-x
          .small-3.cells
            = f.label :mfr, 'Mfr'
          .small-9.cells
            = f.text_field :mfr
      .field
        .grid-x
          .small-3.cells
            = f.label :mfr_part_number, 'Mfr Part Number'
          .small-9.cells
            = f.text_field :mfr_part_number
      .field
        .grid-x
          .small-3.cells
            = f.label :vendor, 'Vendor'
          .small-9.cells
            = f.text_field :vendor
      .field
        .grid-x
          .small-3.cells
            = f.label :vendor_part_number, 'Vendor Part Number'
          .small-9.cells
            = f.text_field :vendor_part_number
      .field
        .grid-x
          .small-3.cells
            = f.label :value, 'Value'
          .small-9.cells
            = f.text_field :value
      .field
        .grid-x
          .small-3.cells
            = f.label :marking, 'Marking'
          .small-9.cells
            = f.text_field :marking
      .field
        .grid-x
          .small-3.cells
            = f.label :description, 'Description'
          .small-9.cells
            = f.text_field :description
      .field
        .grid-x
          .small-3.cells
            = f.label :lead_time, 'Lead Time'
          .small-9.cells
            = f.number_field :lead_time, in: 0..365
      .field
        .grid-x
          .small-3.cells
            = f.label :stock, 'Stock'
          .small-9.cells
            = f.number_field :stock, in: 0..100000
      - if f.object.bom
        .field
          .grid-x
            .small-3.cells
              = f.label :bom_stock, 'BOM Stock'
            .small-9.cells
              = f.number_field :bom_stock, disabled: true
  .small-2.cells