<% provide(:title, 'Password Reset') %>

<div class="box_2">
	<div class="row">
		<div class="small-9 columns">
			<div class="password_reset">
				<%= form_tag password_resets_path, method: :post do %>
					<fieldset>
						<legend>Reset password</legend>
						<div class='field'>
							<%= label :email, 'Email:' %>
							<%= text_field_tag :email, params[:email], size: 40 %>
						</div>
						<div class="button-box">
							<%= submit_tag 'Reset Password', class: 'button user' %>
						</div>
					</fieldset>
				<% end %>
			</div>
		</div>
		<div class="small-3 columns">
			<%= render 'layouts/sidebar' %>
		</div>
	</div>	
</div>


