<dl class="accordion" data-accordion>
	<dt><%= title %></dt>
  <% faqs.each do |faq| %>
	  <dd>
	  	<%= link_to faq.question, "#FAQ" << faq.id.to_s %>
	    <div id="<%= "FAQ" << faq.id.to_s %>" class="content">
			  <div class="clearfix">
			  		<%= faq.answer.html_safe %>
			  </div>
			  <div>
 			 	<% if signed_in_admin? %>
	        <%= link_to 'Edit', edit_faq_path(faq) %>
	        <%= link_to 'Delete', faq, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
		    </div>
	    </div>
	  </dd>
  <% end %>
</dl>
