<% provide(:title, 'FAQ') %>

<div class="box_2">
	<div class="row">
		<div class="small-3 columns" style="margin: 1em 0em 1em 1em">
			<%= render 'layouts/sidebar_left', :products => @products %>
		</div>
	
		<div class="small-8 columns" style="margin: 1em 1em 0em 0em">
			<% @category.each do |cat| %>
				<%= render partial: "accordion", locals: {title: cat.category, faqs: @faqs.where(category: cat.category)} %>
			<% end %>
		 	<% if signed_in_admin? %>
				<%= link_to 'New Faq', new_faq_path, label: 'New Faq', class: "button" %>
				<%= link_to 'Download CSV', faqs_path(format: 'csv'), label: 'Download CSV', class: "button" %>
				<%= form_tag import_faqs_path, multipart: true do %>
				  <%= file_field_tag :file %>
  				<%= submit_tag "Upload CSV", class: "button" %>
				<% end %>
			<% end %>
		</div>
	</div>	
</div> <!-- box_2 -->
