%table.confirm-cart
  %tr#header
    %th#item ID
    %th#item Product
    %th#item Revision
    %th#item PDF
    %th#item Lines
    %th#item Stock
    %th#item Delete

  - @boms.each_with_index do |bom, index|
    %tr
      %td.item-cell= link_to bom.id, edit_bom_path(bom)
      %td.item-cell= bom.product.model
      %td.item-cell= bom.revision
      %td.item-cell= bom.pdf
      %td.item-cell= bom.lines
      %td.item-cell= bom.stock
      %td.item-cell= link_to "delete", bom, method: :delete, data: { confirm: "Are you sure?" }