.field
  .row
    .small-12.columns.bom-row
      - part = @bc.component(bom_item_counter)
      .index= bom_item_counter + 1
      .quantity= @bc.quantity(bom_item_counter)
      .reference= @bc.reference(bom_item_counter)
      .mfr-part-number= link_to part.mfr_part_number, edit_component_path(part)
      .description= link_to part.description, edit_component_path(part)
      .stock= @bc.stock(bom_item_counter)
      .lead-time= @bc.lead_time(bom_item_counter)