.row
  .small-3.columns
    .field
      = f.label :product, 'Product'
      = f.select :product, options_from_collection_for_select(@bc.products, :id, :model, @bc.selected_product)
  .small-3.columns
    .field
      = f.label :revision, 'Revision'
      = f.text_field :revision
  .small-6.columns
    .field
      = f.label :pdf, 'PDF URL'
      = f.text_field :pdf