%tr
  %td.index= f.index + 1
  %td.quantity= f.number_field :quantity, placeholder: 'Qty'
  %td.reference= f.text_field :reference, placeholder: 'Ref'
  %td.select
    = f.select :component, options_from_collection_for_select(@bc.components, :id, :selection_name, @bc.selected_component(f.index))
  %td.stock= @bc.stock(f.index)
  %td.lead_time= @bc.lead_time(f.index)
  %td.destroy= f.check_box :_destroy
