= provide(:title, "BOM #{@bc.bom_name}")
.box_2
  .row
    .small-12.columns
      %fieldset
        %legend= "BOM #{@bc.bom_name}"
        = form_for(@bc, url: bom_path(@bc.id), method: :put) do |bc_form|
          = render 'shared/errors', object: bc_form.object
          = render layout: 'edit_headers' do
            = bc_form.fields_for :bom_items, @bc.items do |item_fields|
              = render 'select', f: item_fields
          = link_to "Add Item", new_item_bom_path(@bc.id)
          .admin-box
            = bc_form.submit "Update", class: "button admin"
            = link_to "Quit", bom_path(@bc.id), class: "button admin"
            = link_to "Delete", bom_path(@bc.id), method: :delete, class: "button admin", data: { confirm: 'Are you sure?' }
