= provide(:title, "New BOM")
.box_2
  .row
    .small-1.columns &nbsp;
    .small-10.columns
      %fieldset
        %legend= "New BOM"
        = form_for @bc, url: boms_path do |f|
          = render 'shared/errors', object: f.object
          = render 'boms/form', f: f
          .admin-box
            = f.submit "Create", class: "button admin"
            = link_to "Quit", boms_path, class: "button admin"
    .small-1.columns &nbsp;