= provide(:title, "BOM #{@bc.id}")
.box_2
  .row
    .small-12.columns
      %fieldset
        %legend= "BOM #{@bc.product_model + @bc.option_model}"
        = form_for(@bc, url: create_item_bom_path(@bc.id), method: :put) do |bc_form|
          = render 'shared/errors', object: bc_form.object
          = render 'form', f: bc_form
          = render layout: 'edit_headers' do
            = bc_form.fields_for :bom_items do |item_fields|
              = render 'select', f: item_fields
          .admin-box
            = bc_form.submit "Update", class: "button admin"
            = link_to "Quit", edit_bom_path(@bc.id), class: "button admin"
