<%= stylesheet_link_tag :mailers %>
<table class="email">
  <tr class="header">
    <th class="text bold align-right" colspan="2">Repair Invoice</th>
  </tr>
  <tr>
    <td class="text" colspan="2">
      <p>Dear <b><%= @customer.name %></b>,</p>
      <p>Your repair is complete and ready to ship.  To pay this invoice, click the "Pay Now" link below to be redirected to our shopping cart.  If you have any questions or encounter any further difficulties with your SCA equipment, please email sales@seventhcircleaudio.com for support.  Thanks again for your business.</p>
    </td>
  </tr>
  <tr>
    <td class="align-center"><%= link_to "Pay Now", show_invoice_cart_url(@cart.invoice_token) %></td>
  </tr>
  <tr><td class="divider-lrg" colspan="2"></td></tr>
  <tr>
    <td colspan="2">
      <table class="confirm-cart">
        <tr><th class="align-center" colspan="6">Cart Contents</th></tr>
        <tr><td class="divider-sml" colspan="6"></td></tr>
        <tr class="header">
          <th class="text bold align-left">Line</th>
          <th class="text bold align-left">Item</th>
          <th class="text bold align-left">Description</th>
          <th class="text bold align-center">Quantity</th>
          <th class="text bold align-right">Price</th>
          <th class="text bold align-right">Total</th>
        </tr>
        <% @cart.line_items.each_with_index do |line_item, index| %>
          <tr class="field">
            <% item = line_item.category + ', ' + line_item.description %>
            <td class="text align-left"><%= index + 1 %></td>
            <td class="text align-left"><%= link_to line_item.model, line_item.product %></td>
            <td class="text align-left"><%= link_to item, line_item.product %></td>
            <td class="text align-center"><%= line_item.quantity %></td>
            <td class="text align-right">
              <%= cents_to_dollars(line_item.price, precision: 0) %>
            </td>
            <td class="text align-right">
              <%= cents_to_dollars(line_item.extended_price, precision: 2) %>
            </td>
          </tr>
        <% end %>
        <tr class="field"><td class="divider-sml" colspan="6"></td></tr>
        <tr class="contrast">
          <td class="text bold align-right" colspan="5">Package Discount</td>
          <td class="text bold align-right">
            <%= cents_to_dollars(@cart.discount, precision: 2) %>
          </td>
        </tr>
        <tr class="contrast">
          <td class="text bold align-right" colspan="5">Subtotal</td>
          <td class="text bold align-right">
            <%= cents_to_dollars(@cart.subtotal, precision: 2) %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="footer" colspan="2">Please email sales@seventhcircleaudio.com with questions about this invoice.</td>                               
  </tr>
</table>
