= stylesheet_link_tag :mailers

%table.email
  %tr.header
    %th.text.bold.align-right{colspan: 2}
      Invoice
  %tr
    %td.text{colspan: 2}
      %p
        Dear
        %b= "#{ @customer.name },"

      %p= "#{ @customer.body }"
  %tr
    %td.align-center{colspan: 2}
      = link_to "Pay Now", invoice_payment_url(@invoice.invoice_token)
  %tr
    %td.divider-lrg{colspan: 2}  
  %tr
    %td.text
      Seventh Circle Audio
      %br
      1714 Franklin Street, Ste B2
      %br
      Oakland, CA  94612
      %br
      510-972-8346
    %td.text
      Invoice Number:
      = @invoice.id
      %br
      Created:
      = Date.today
      %br
      Due on receipt
  %tr
    %td{colspan: 2}
      %table.confirm-cart
        %tr
          %td.divider-sml{colspan: 6}
        %tr.header
          %th.text.bold.align-leftLine
          %th.text.bold.align-leftItem
          %th.text.bold.align-leftDescription
          %th.text.bold.align-centerQuantity
          %th.text.bold.align-rightPrice
          %th.text.bold.align-rightTotal
          - @invoice.line_items.each_with_index do |line_item, index|
            %tr.field
              %td.text.align-left
                = index + 1
              %td.text.align-left
                = link_to line_item.item_model, line_item.item
              %td.text.align-left
                = link_to line_item.item_description, line_item.item
              %td.text.align-center
                = line_item.quantity
              %td.text.align-right
                = cents_to_dollars(line_item.full_price_in_cents, precision: 0)
              %td.text.align-right
                = cents_to_dollars(line_item.extended_price, precision: 2)
        %tr.field
          %td.divider-sml{colspan: 6}
        %tr.contrast
          %td.text.bold.align-right{colspan: 5}
            Package Discount
          %td.text.bold.align-right
            = cents_to_dollars(@invoice.discount, precision: 2)
        %tr.contrast
          %td.text.bold.align-right{colspan: 5}
            Subtotal
          %td.text.bold.align-right
            = cents_to_dollars(@invoice.subtotal, precision: 2)
  %tr
    %td.footer{colspan: 2}
      Please email sales@seventhcircleaudio.com with questions about this invoice.                               