= stylesheet_link_tag :mailers

%table.email
  %tr.header
    %th.text.bold.align-right{colspan: 2}
      Repair Invoice
  %tr
    %td.text{colspan: 2}
      %p
        Dear
        %b
          = @customer.name

      %p
        Your repair is completed and ready to ship.  To pay this invoice, click the "Pay Now" link below to be redirected to our shopping cart.  If you have any questions or encounter any further difficulties with your SCA equipment, please email sales@seventhcircleaudio.com for support.  Thanks again for your business.
  %tr
    %td.align-center{colspan: 2}
      = link_to "Pay Now", show_invoice_cart_url(@cart.invoice_token)
  %tr
    %td.divider-lrg{colspan: 2}  
  %tr
    %td.text
      Seventh Circle Audio
      %br
      1714 Franklin Street, Ste B2
      %br
      Oakland, CA  94612
      %br
      510-972-8346
    %td.text
      Invoice Number:
      = @cart.id
      %br
      Created:
      = Date.today
      %br
      Due on receipt
  %tr
    %td{colspan: 2}
      %table.confirm-cart
        %tr
          %td.divider-sml{colspan: 6}
        %tr.header
          %th.text.bold.align-leftLine
          %th.text.bold.align-leftItem
          %th.text.bold.align-leftDescription
          %th.text.bold.align-centerQuantity
          %th.text.bold.align-rightPrice
          %th.text.bold.align-rightTotal
          - @cart.line_items.each_with_index do |line_item, index|
            %tr.field
              - item = line_item.category + ', ' + line_item.description
              %td.text.align-left
                = index + 1
              %td.text.align-left
                = link_to line_item.model, line_item.product
              %td.text.align-left
                = link_to item, line_item.product
              %td.text.align-center
                = line_item.quantity
              %td.text.align-right
                = cents_to_dollars(line_item.price, precision: 0)
              %td.text.align-right
                = cents_to_dollars(line_item.extended_price, precision: 2)
        %tr.field
          %td.divider-sml{colspan: 6}
        %tr.contrast
          %td.text.bold.align-right{colspan: 5}
            Package Discount
          %td.text.bold.align-right
            = cents_to_dollars(@cart.discount, precision: 2)
        %tr.contrast
          %td.text.bold.align-right{colspan: 5}
            Subtotal
          %td.text.bold.align-right
            = cents_to_dollars(@cart.subtotal, precision: 2)
  %tr
    %td.footer{colspan: 2}
      Please email sales@seventhcircleaudio.com with questions about this invoice.                               