<link rel="stylesheet" type="text/css" href="/assets/mailers.scss" >
<table class="email">
	<tr class="header">
		<th class="text bold align-right" colspan="2">Order Receipt</th>
	</tr>
	<tr>
		<td class="text" colspan="2">
			<p>Hello <span class="bold"><%= @billing.first_name + ' ' + @billing.last_name %></span>,</p>
			<p>Thank you for ordering from Seventh Circle Audio. We appreciate your business!</p>
			<p>Your order confirmation is below. Please save a copy for your records. We'll send a tracking number to this email address when your order ships. If you've ordered kits, please find detailed assembly instructions and other documents on the product pages. Kits do not include printed assembly instructions.</p>
		</td>
	</tr>
	<tr><td class="divider-lrg" colspan="2"></td></tr>
	<tr>
		<td colspan="2">
			<table class="address-table">
				<tr class="field"><td class="text bold align-left">Order Date</td><td class="text align-left"><%= @cart.purchased_at.to_s %></td></tr>
				<tr class="field"><td class="text bold align-left">Authorization</td><td class="text align-left"><%= @transaction.authorization %></td></tr>
				<tr class="field"><td class="text bold align-left">Shipping Method</td><td class="text align-left"><%= @order.shipping_method %></td></tr>
			</table>
		</td>
	</tr>
	<tr><td class="divider-lrg" colspan="2"></td></tr>
	<tr>
		<td>
 			<table class="address-table">
				<tr><th class="align-left">Billing Address</th></tr>
				<tr class="field"><td class="text align-left"><%= @billing.first_name + ' ' + @billing.last_name %></td></tr>
				<tr class="field"><td class="text align-left"><%= @billing.address_1 %></td></tr>
				<% if @billing.address_2 && @billing.address_2.size > 0 %>
					<tr class="field">
						<td class="text align-left"><%= @billing.address_2 %></td>
					</tr>
				<% end %>
				<tr class="field"><td class="text align-left"><%= @billing.city + ', ' + @billing.state_code %></td></tr>
				<tr class="field"><td class="text align-left"><%= @billing.post_code %></td></tr>
				<tr class="field"><td class="text align-left"><%= @billing.country %></td></tr>
				<tr class="field"><td class="text align-left"><%= @billing.telephone %></td></tr>
			</table>
		</td>
		<td>
 			<table class="address-table">
				<tr><th class="align-left">Shipping Address</th></tr>
				<tr class="field"><td class="text align-left"><%= @shipping.first_name + ' ' + @shipping.last_name %></td></tr>
				<tr class="field"><td class="text align-left"><%= @shipping.address_1 %></td></tr>
				<% if @shipping.address_2 && @shipping.address_2.size > 0 %>
					<tr class="field">
						<td class="text align-left"><%= @shipping.address_2 %></td>
					</tr>
				<% end %>
				<tr class="field"><td class="text align-left"><%= @shipping.city + ', ' + @shipping.state_code %></td></tr>
				<tr class="field"><td class="text align-left"><%= @shipping.post_code %></td></tr>
				<tr class="field"><td class="text align-left"><%= @shipping.country %></td></tr>
				<tr class="field"><td class="text align-left"><%= @shipping.telephone %></td></tr>
			</table>
		</td>
	</tr>
	<tr><td class="divider-lrg" colspan="2"></td></tr>
	<tr>
		<td colspan="2">
			<table class="confirm-cart">
				<tr><th class="align-center" colspan="6">Cart Contents</th></tr>
				<tr><td class="divider-sml" colspan="6"></td></tr>
				<tr class="header">
					<th class="text bold align-left">Line</th>
					<th class="text bold align-left">Item</th>
					<th class="text bold align-left">Description</th>
					<th class="text bold align-center">Quantity</th>
					<th class="text bold align-right">Price</th>
					<th class="text bold align-right">Total</th>
				</tr>
				<% @cart.line_items.each_with_index do |line_item, index| %>
					<tr class="field">
						<% item = line_item.category + ', ' + line_item.description %>
						<td class="text align-left"><%= index + 1 %></td>
						<td class="text align-left"><%= line_item.model %></td>
						<td class="text align-left"><%= item %></td>
						<td class="text align-center"><%= line_item.quantity %></td>
						<td class="text align-right">
							<%= cents_to_dollars(line_item.price, precision: 0) %>
						</td>
						<td class="text align-right">
							<%= cents_to_dollars(line_item.extended_price, precision: 2) %>
						</td>
					</tr>
				<% end %>
				<tr class="field"><td class="divider-sml" colspan="6"></td></tr>
				<tr class="contrast">
					<td class="text bold align-right" colspan="5">Package Discount</td>
					<td class="text bold align-right">
						<%= cents_to_dollars(@cart.discount, precision: 2) %>
					</td>
				</tr>
				<tr class="contrast">
					<td class="text bold align-right" colspan="5">Subtotal</td>
					<td class="text bold align-right">
						<%= cents_to_dollars(@cart.subtotal, precision: 2) %>
					</td>
				</tr>
				<tr class="contrast">
					<td class="text bold align-right" colspan="5">Sales Tax</td>
					<td class="text bold align-right">
						<%= cents_to_dollars(@order.sales_tax, precision: 2) %>
					</td>
				</tr>
				<tr class="contrast">
					<td class="text bold align-right" colspan="5">Shipping</td>
					<td class="text bold align-right">
						<%= cents_to_dollars(@order.shipping_cost, precision: 2) %>
					</td>
				</tr>
				<tr class="contrast">
					<td class="text bold align-right" colspan="5">Total</td>
					<td class="text bold align-right">
						<%= cents_to_dollars(@order.total, precision: 2) %>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="footer" colspan="2">Please email sales@seventhcircleaudio.com with questions about order status.</td>                               
	</tr>
</table>
