<table class="order_confirmation">
	<tr class="header">
		<th id="heading" colspan="2">Order Receipt</th>
	</tr>
	<tr>
		<td class="text-cell" colspan="2">Hello <b><%= @billing.first_name + ' ' + @billing.last_name %></b>,</td>
	</tr>
	<tr>
		<td class="text-cell" colspan="2">Thank you for ordering from Seventh Circle Audio.  We appreciate your business!</td>
	</tr>
	<tr>
		<td class="text-cell" colspan="2">Your order confirmation is below.  Please save a copy for your records.  We'll send a tracking number to this email address when your order ships.</td>
	</tr>
	<tr><td class="divider-cell" colspan="2"></td></tr>
	<tr>
		<td colspan="2">
			<table class="address-table">
				<tr class="field"><td class="label">Order Date</td><td class="input"><%= @cart.purchased_at.to_s %></td></tr>
				<tr class="field"><td class="label">Transaction ID</td><td class="input"><%= @transaction.params['transaction_id'] %></td></tr>
				<tr class="field"><td class="label">Shipping Method</td><td class="input"><%= @order.shipping_method %></td></tr>
			</table>
		</td>
	</tr>
	<tr><td class="divider-cell" colspan="2"></td></tr>
	<tr>
		<td>
			<table class="address-table">
				<caption>Billing Address</caption>
				<tr class="field"><td class="input"><%= @billing.first_name + ' ' + @billing.last_name %></td></tr>
				<tr class="field"><td class="input"><%= @billing.address_1 %></td></tr>
				<% if @billing.address_2 && @billing.address_2.size > 0 %>
					<tr class="field">
						<td class="input"><%= @billing.address_2 %></td>
					</tr>
				<% end %>
				<tr class="field"><td class="input"><%= @billing.city + ', ' + @billing.state_code %></td></tr>
				<tr class="field"><td class="input"><%= @billing.post_code %></td></tr>
				<tr class="field"><td class="input"><%= @billing.country %></td></tr>
				<tr class="field"><td class="input"><%= @billing.telephone %></td></tr>
			</table>
		</td>
		<td>
			<table class="address-table">
				<caption>Shipping Address</caption>
				<tr class="field"><td class="input"><%= @shipping.first_name + ' ' + @shipping.last_name %></td></tr>
				<tr class="field"><td class="input"><%= @shipping.address_1 %></td></tr>
				<% if @shipping.address_2 && @shipping.address_2.size > 0 %>
					<tr class="field">
						<td class="input"><%= @shipping.address_2 %></td>
					</tr>
				<% end %>
				<tr class="field"><td class="input"><%= @shipping.city + ', ' + @shipping.state_code %></td></tr>
				<tr class="field"><td class="input"><%= @shipping.post_code %></td></tr>
				<tr class="field"><td class="input"><%= @shipping.country %></td></tr>
				<tr class="field"><td class="input"><%= @shipping.telephone %></td></tr>
			</table>
		</td>
	</tr>
	<tr><td class="divider-cell" colspan="2"></td></tr>
	<tr>
		<td colspan="2">
			<table class="confirm-cart" style="width: 100%">
				<caption>Cart Contents</caption>
				<tr class="header">
					<th id="line">Line</th>
					<th id="item">Item</th>
					<th id="description">Description</th>
					<th id="quantity">Quantity</th>
					<th id="price">Price</th>
					<th id="ext">Total</th>
				</tr>
				<% @cart.line_items.each_with_index do |line_item, index| %>
					<tr>
						<% model = line_item.product.model + line_item.option.model %>
						<% item = line_item.product.category + ', ' + line_item.option.description %>
						<td class="line-cell"><%= index + 1 %></td>
						<td class="item-cell"><%= link_to model, line_item.product %></td>
						<td class="description-cell"><%= link_to item, line_item.product %></td>
						<td class="quantity-cell" style="text-align: center">
							<%= line_item.quantity %>
						</td>
						<td class="price-cell">
							<%= number_to_currency(line_item.option.price, precision: 0) %>
						</td>
						<td class="price-cell">
							<%= number_to_currency(line_item.extended_price, precision: 2) %>
						</td>
					</tr>
				<% end %>
				<tr><td class="divider-cell" colspan="6"></td></tr>
				<tr id="discount-line">
					<td class="total-cell" colspan="5">Package Discount</td>
					<td class="total-cell">
						<%= number_to_currency(@cart.discount, precision: 2) %>
					</td>
				</tr>
				<tr id="subtotal-line">
					<td class="total-cell" colspan="5">Subtotal</td>
					<td class="total-cell">
						<%= number_to_currency(@cart.subtotal, precision: 2) %>
					</td>
				</tr>
				<tr id="salestax-line">
					<td class="total-cell" colspan="5">Sales Tax</td>
					<td class="total-cell">
						<%= number_to_currency(@order.sales_tax, precision: 2) %>
					</td>
				</tr>
				<tr id="shipping-line">
					<td class="total-cell" colspan="5">Shipping</td>
					<td class="total-cell">
						<%= number_to_currency(@order.shipping_cost.to_f / 100, precision: 2) %>
					</td>
				</tr>
				<tr id="total-line">
					<td class="total-cell" colspan="5">Total</td>
					<td class="total-cell">
						<%= number_to_currency(@order.total(@cart), precision: 2) %>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td class="footer-cell" colspan="2">Please email sales@seventhcircleaudio.com with questions about order status.</td>                               
	</tr>
</table>
