= provide(:title, "New #{@component.mfr_part_number} size_weight_price_tag")

.box_2
	.row
		.small-12.columns
			= form_for @tag, url: component_tags_path do |f|
				= render 'shared/errors', object: f.object
				= render partial: 'form', locals: { f: f, legend: "New Tag"}
				.admin-box
					= f.submit "Create", class: "button admin"
					= link_to "Quit", @component, class: "button admin"
