%table.confirm-cart{ style: "width: 100%" }
  %tr.header
    %th.line Cart ID
    %th.line Order ID
    %th.item Email
    %th.item Subtotal
    %th.item Sent
    %th.item Retrieved
    %th.item Paid
    %th.item Delete		
  - @invoices.each do |invoice|
    %tr
      %td.item-cell= link_to invoice.id, invoice_path(invoice)
      %td.item-cell= link_to invoice.order.id, order_path(invoice.order) unless invoice.order.nil?
      %td.item-cell= link_to invoice.invoice_email, invoice_path(invoice) unless invoice.invoice_email.nil?
      %td.item-cell= cents_to_dollars(invoice.subtotal, {precision: 2})
      %td.item-cell= link_to invoice.invoice_sent_at, invoice_path(invoice) unless invoice.invoice_sent_at.nil?
      %td.item-cell= link_to invoice.invoice_retrieved_at, invoice_path(invoice) unless invoice.invoice_retrieved_at.nil?
      %td.item-cell= link_to invoice.purchased_at, invoice_path(invoice) unless invoice.purchased_at.nil?
      %td.item-cell= link_to "Delete", invoice_path(invoice), method: :delete, data: { confirm: "Are you sure?" }