<% provide(:title, 'Confirm Order') %>

<div class="box_2">
	<div class="row">
		<div class="small-12 columns main">
			<%= render 'shared/errors', object: @terms %>
			<%= render 'shared/breadcrumbs' %>
			<%= form_for @order, url: checkout_confirmation_path(@cart) do |form| %>
				<div class='review-box'>
					<%= render 'confirm_address', f: @billing, legend: 'Billing Address' %>
					<%= render 'confirm_address', f: @shipping, legend: 'Shipping Address' %>
					<%= render 'confirm_shipping', f: @order, legend: 'Shipping Method' %>
				</div>
				<%= render 'confirm_cart' %>
        <%= form.fields_for @terms do |terms| %>
  				<%= render 'confirm_terms', f: terms, legend: 'Terms' %>
        <% end %>
				<div class="button-box">
          <%= link_to 'Back to Payment', new_checkout_payment_path(@cart), class: 'button checkout' %>
          <%= form.submit 'Place Order', class: 'button checkout' %>
        </div>
      <% end %>
    </div>
  </div>  
</div>
