<fieldset class="confirm-contact">
	<legend><%= legend %></legend>
	<table class="user-table">
		<tr class="field">
			<td class="label"><%= label :contact_news, 'OK to send me quarterly newsletter' %></td>
			<td class="input"><%= check_box_tag :contact_news, f.contact_news, f.contact_news, disabled: true %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= label :contact_updates, 'OK to contact me with product news and updates' %></td>
			<td class="input"><%= check_box_tag :contact_updates, f.contact_updates, f.contact_updates, disabled: true %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= label :contact_sales, 'OK to contact me with special sales offers'  %></td>
			<td class="input"><%= check_box_tag :contact_sales, f.contact_sales, f.contact_sales, disabled: true %></td>
		</tr>
	</table>
</fieldset>
