<fieldset class="contact">
	<legend><%= legend %></legend>
	<table class="user-table">
		<tr class="field">
			<td class="label"><%= f.label :contact_news, 'OK to send me quarterly newsletter' %></td>
			<td class="input"><%= f.check_box :contact_news %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :contact_updates, 'OK to contact me with product news and updates' %></td>
			<td class="input"><%= f.check_box :contact_updates %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :contact_sales, 'OK to contact me with special sales offers'  %></td>
			<td class="input"><%= f.check_box :contact_sales %></td>
		</tr>
	</table>
</fieldset>
