%tr
  %td
    = link_to user.name, user
  %td
    = user.email
  %td
    = user.contact_sales ? 'X' : ' '
  %td
    = user.contact_news ? 'X' : ' '
  %td
    = user.contact_updates ? 'X' : ' '
  %td
    - if current_user.admin? && !current_user?(user)
      = link_to "delete", user, method: :delete, data: { confirm: "Are you sure?" }