<% provide(:title, 'Update profile') %>

<div class="box_2">
	<div class="row">
		<div class="small-12 columns">
			<%= form_for @user do |user| %>
				<%= render 'shared/errors', object: user.object %>
				<%= render 'form', f: user, legend: 'Update your profile' %>
				<%= user.fields_for :addresses, @billing do |address| %>
					<%= render 'addresses/address_form', f: address %>
				<% end %>
				<%= user.fields_for :addresses, @shipping do |address| %>
					<%= render 'addresses/address_form', f: address %>
				<% end %>
				<div class="actions">
					<%= user.submit 'Save changes', class: 'button' %>
				</div>
			<% end %>
		</div>
	</div>	
</div>

