<% provide(:title, 'Update profile') %>

<div class="box_2">
	<div class="row">
		<div class="small-12 columns">
			<%= form_for @user do |user| %>
				<%= render 'shared/errors', object: user.object %>
				<%= render 'form', f: user, legend: 'Update your profile' %>
					<%= fields_for @user.address do |address| %>
						<%= render 'address_form', f: address, type: 'billing' %>
					<% end %>
					<%= fields_for @user.address do |address| %>
						<%= render 'address_form', f: address, type: 'shipping' %>
					<% end %>
				<div class="actions">
					<%= f.submit 'Save changes', class: 'button' %>
				</div>
			<% end %>
		</div>
	</div>	
</div>

