<% provide(:title, 'Update profile') %>

<div class="box_2">
	<div class="row">
		<div class="small-12 columns">
			<div class="edit-profile">				
				<%= form_for @user do |user| %>
					<%= render 'shared/errors', object: user.object %>
					<div class="user">
						<div class="user-info">
							<%= render 'form', f: user, legend: 'Update your profile' %>
						</div>
						<div class="contact-preferences">
							<%= render 'contact', f: user, legend: 'Contact Preferences' %>
						</div>						
					</div>
					<div class="addresses">
						<div class="address">
							<%= user.fields_for :addresses, @user.addresses.first do |address| %>
								<%= render 'addresses/address_form', f: address %>
							<% end %>
						</div>
						<div class="address">
							<%= user.fields_for :addresses, @user.addresses.second do |address| %>
								<%= render 'addresses/address_form', f: address %>
							<% end %>
						</div>
					</div>
					<div class="button-box">
						<%= user.submit 'Save changes', class: 'button user' %>
						<%= link_to 'Quit', user_path, class: 'button user' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>	
</div>

