= provide(:title, 'All Users')

.box_2
  .row
    .small-9.columns
      = will_paginate @users
      %table.users
        %tr
          %th Name
          %th Email
          %th Contact
          %th News
          %th Updates
          %th Delete
        = render @users
      = will_paginate @users
    .small-3.columns
      = render 'layouts/sidebar'