<% provide(:title, 'Sign up') %>

<div class="box_2">
	<div class="row">
		<div class="small-12 columns main">
			<div class="edit-profile">				
				<%= form_for @user do |user| %>
					<%= render 'shared/errors', object: user.object %>
					<div class="user">
						<div class="user-info">
							<%= render 'form', f: user, legend: 'Sign up' %>
						</div>
						<div class="contact-preferences">
							<%= render 'contact', f: user, legend: 'Contact Preferences' %>
						</div>
					</div>
					<div class="addresses">
						<div class="address">
							<%= user.fields_for :addresses, @user.addresses.first do |billing| %>
								<%= render 'addresses/address_form', f: billing %>
							<% end %>
						</div>
						<div class="address">
							<%= user.fields_for :addresses, @user.addresses.second do |shipping| %>
								<%= render 'addresses/address_form', f: shipping %>
							<% end %>
						</div>
					</div>
					<div class="button-box">
						<%= user.submit 'Create Account', class: 'button user' %>
						<%= link_to 'Quit', products_path, class: 'button user' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>	
</div>

