<% provide(:title, @user.name) %>

<div class="box_2">
	<div class="row">
		<div class="small-9 columns">
			<div class='show-profile'>
				<div class="user">
					<div class="user-info">
						<%= render 'users/confirm_user', f: @user, legend: 'User' %>
					</div>
					<div class="contact-preferences">
						<%= render 'users/confirm_contact', f: @user, legend: 'Contact Preferences' %>
					</div>
				</div>
				<div class="addresses">
					<div class="address">						
						<%= render 'checkout/confirmation/confirm_address', f: @billing, legend: 'Billing Address' if @billing %>
					</div>
					<div class="address">						
						<%= render 'checkout/confirmation/confirm_address', f: @shipping, legend: 'Shipping Address' if @shipping %>
					</div>
				</div>
				<div class="button-box">					
		  		<%= link_to "Edit Profile",	edit_user_path(@user), class: "button user" %>
		  		<%= link_to "Quit",	home_path, class: "button user" %>
		  	</div>
			</div>
		</div>
		<div class="small-3 columns">
			<%= render 'layouts/sidebar_left' %>
		</div>
	</div>	
</div>
