<fieldset style="margin: 1em 0em 0em 0em; border: none">
	<legend><%= legend %></legend>
	<div class="field" style = "float: left; width: 20%">
		<%= f.label :model, 'Option:' %>
		<%= f.text_field :model %>
	</div>
	<div class="field" style = "float: left; width: 80%">
		<%= f.label :description, 'Description:' %>
 		<%= f.text_field :description %>
	</div>
	<div class="field" style = "float: left; width: 25%">
		<%= f.label :price, 'Price:' %>
		<%= f.number_field :price %>
	</div>
	<div class="field" style = "float: left; width: 25%">
		<%= f.label :shipping_weight, 'Shipping Weight:' %>
		<%= f.number_field :shipping_weight %>
	</div>
	<div class="field" style = "float: left; width: 25%">
		<%= f.label :sort_order, 'Sort Order:' %>
		<%= f.number_field :sort_order, in: 1..100 %>
	</div>
	<div class="field" style = "float: left; width: 25%">
		<%= f.label :upc, 'UPC:' %>
		<%= f.text_field :upc %>
	</div>
	<div class="field" style = "float: left; width: 33%">
		<%= f.label :finished_stock, 'Finished Stock:' %>
		<%= f.number_field :finished_stock %>
	</div>
	<div class="field" style = "float: left; width: 33%">
		<%= f.label :kit_stock, 'Kit Stock:' %>
		<%= f.number_field :kit_stock %>
	</div>
	<div class="field" style = "float: left; width: 33%">
		<%= f.label :part_stock, 'Part Stock:' %>
		<%= f.number_field :part_stock %>
	</div>
	<div class="actions">
		<%= if submit then f.submit submit, :class => :button, :style => "float: left; width: 33%" end %>
		<%= if quit then link_to quit, p, :class => :button, :style => "float: left; width: 33%" end %>
		<%= if delete then link_to delete, product_option_path(p, f), method: :delete, :class => :button, :style => "float: left; width: 33%", data: { :confirm => 'Are you sure?' } end %>
	</div>
</fieldset>
