<fieldset>
	<legend><%= legend %></legend>
	<div class="field" style = "float: left; width: 15%">
		<%= f.label :model, 'Option:' %>
		<%= f.text_field :model %>
	</div>
	<div class="field" style = "float: left; width: 60%">
		<%= f.label :description, 'Description:' %>
 		<%= f.text_field :description %>
	</div>
	<div class="field" style = "float: left; width: 15%">
		<%= f.label :upc, 'UPC:' %>
		<%= f.text_field :upc %>
	</div>
	<div class="field" style = "float: left; width: 10%">
		<%= f.label :sort_order, 'Sort Order:' %>
		<%= f.number_field :sort_order, in: 1..100 %>
	</div>
	<div class="field" style = "float: left; width: 20%">
		<%= f.label :price, 'Price:' %>
		<%= f.number_field :price %>
	</div>
	<div class="field" style = "float: left; width: 20%">
		<%= f.label :discount, 'Discount:' %>
		<%= f.number_field :discount %>
	</div>
	<div class="field" style = "float: left; width: 15%">
		<%= f.label :shipping_length, 'Shipping Length:' %>
		<%= f.number_field :shipping_length %>
	</div>
	<div class="field" style = "float: left; width: 15%">
		<%= f.label :shipping_width, 'Shipping Width:' %>
		<%= f.number_field :shipping_width %>
	</div>
	<div class="field" style = "float: left; width: 15%">
		<%= f.label :shipping_height, 'Shipping Height:' %>
		<%= f.number_field :shipping_height %>
	</div>
	<div class="field" style = "float: left; width: 15%">
		<%= f.label :shipping_weight, 'Shipping Weight:' %>
		<%= f.number_field :shipping_weight %>
	</div>
	<div class="field" style = "float: left; width: 33%">
		<%= f.label :assembled_stock, 'Assembled Stock:' %>
		<%= f.number_field :assembled_stock %>
	</div>
	<div class="field" style = "float: left; width: 33%">
		<%= f.label :partial_stock, 'Partial Stock:' %>
		<%= f.number_field :partial_stock %>
	</div>
	<div class="field" style = "float: left; width: 33%">
		<%= f.label :part_stock, 'Component Stock:' %>
		<%= f.number_field :component_stock %>
	</div>
</fieldset>
