<div class="price-line">
	<span class="description-line"><%= get_extended_model(p, option) %></span>
	<span class="price"><%= number_to_currency(option.price) %></span>
	<%= button_to 'Add to Cart',
			line_items_path(product_id: p, option_id: option), remote: true %>

	<% if signed_in_admin? %>
		<div class="admin-box">
			<%= link_to "edit", edit_product_option_path(p, option),
													title: option.model %>
			
	    <%= link_to "delete", product_option_path(p, option), 
	    											method: :delete,
	                         	data: { confirm: "You sure?" },
	                          title: option.model %>
		</div>
	<% end %>
</div>
