= provide(:title, "Edit #{@option_editor.product_model} option #{@option_editor.option_model}")

.box_2
	.row
		.small-12.columns
			= form_for @option_editor, url: product_option_path(@product, @option), method: :put do |f|
				= render 'shared/errors', object: f.object
				= render partial: 'form', locals: { f: f, legend: "Edit #{@option_editor.product_model} option #{@option_editor.option_model}"}
				.admin-box
					= f.submit "Update", class: "button admin"
					= link_to "Quit", product_path(@product), class: "button admin"
					= link_to "Delete", product_option_path(@product, @option), method: :delete, class: "button admin", data: { confirm: 'Are you sure?' }
