<ul class="checkout-breadcrumbs">
  <li class="current"><%= link_to 'Cart', '#' %></li>
  <li class="unavailable"><%= link_to 'Billing & Shipping Addresses', '#' %></li>
  <li class="unavailable"><%= link_to 'Shipping Method', '#' %></li>
  <li class="unavailable"><%= link_to 'Confirm', '#' %></li>
  <li class="unavailable"><%= link_to 'Payment', '#' %></li>
  <li class="unavailable"><%= link_to 'Order Complete', '#' %></li>
</ul>
