<ul class="checkout-breadcrumbs">
  <li <%= crumb_class(cart_path(@cart)) %>>
    <%= crumb_link 'Cart', cart_path(@cart) %>
  </li>
  <% if @order %>
    <li <%= crumb_class(new_checkout_address_path(@cart)) %>>
      <%= crumb_link 'Billing & Shipping Addresses', new_checkout_address_path(@cart) %>
    </li>
    <li <%= crumb_class(new_checkout_shipping_path(@cart)) %>>
      <%= crumb_link 'Shipping Method', new_checkout_shipping_path(@cart) %>
    </li>
    <li <%= crumb_class(new_checkout_payment_path(@cart)) %>>
      <%= link_to 'Payment', '#' %>
    </li>
    <li <%= crumb_class(new_checkout_confirmation_path(@cart)) %>>
      <%= crumb_link 'Confirm', new_checkout_confirmation_path(@cart) %>
    </li>
  <% else %>
    <li class="unavailable"><%= link_to 'Billing & Shipping Addresses', '#' %></li>
    <li class="unavailable"><%= link_to 'Shipping Method', '#' %></li>
    <li class="unavailable"><%= link_to 'Payment', '#' %></li>
    <li class="unavailable"><%= link_to 'Confirm', '#' %></li>
  <% end %>
  <li class="unavailable"><%= link_to 'Order Complete', '#' %></li>
</ul>
