%ul.breadcrumbs.sca-crumbs.checkout
  %li.disabled
    = crumb_link 'Cart', ''
  %li.disabled
    = crumb_link 'Billing  Shipping Addresses', ''
  %li.disabled
    = crumb_link 'Shipping Method', ''
  %li.disabled
    = crumb_link 'Payment', ''
  %li.disabled
    = crumb_link 'Confirm', ''
  %li.current
    = crumb_link 'Order Complete', ''
