<fieldset>
	<legend><%= legend %></legend>
	<div class="field">
		<%= f.label :name, 'Name:' %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :caption, 'Caption:' %>
 		<%= f.text_area :caption %>
	</div>
	<div class="field">
		<%= f.label :url, 'URL:' %>
 		<%= f.text_field :url %>
	</div>
	<div class="actions">
		<%= if submit then f.submit submit, :class => :button, :style => "float: left; width: 33%" end %>
		<%= if edit then link_to edit, edit_slider_image_path(@slider_image), :class => :button, :style => "float: left; width: 33%"  end %>
		<%= if quit then link_to quit, slider_images_path, :class => :button, :style => "float: left; width: 33%" end %>
		<%= if delete then link_to delete, @slider_image, method: :delete, :class => :button, :style => "float: left; width: 33%", data: { :confirm => 'Are you sure?' } end %>
	</div>
</fieldset>


