<div class="field">
	<%= f.label :name, 'Name:' %>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :caption, 'Caption:' %>
	<%= f.text_field :caption %>
</div>
<div class="field">
	<%= f.label :image_url, 'Image URL:' %>
	<%= f.text_field :image_url %>
</div>
<div class="field">
	<%= f.label :product_url, 'Product URL:' %>
	<%= f.text_field :product_url %>
</div>
<div class="field">
	<%= f.label :sort_order, 'Sort order:' %>
	<%= f.number_field :sort_order %>
</div>


