<fieldset id="shipping-address">
	<legend><%= legend %></legend>
	<table class="address-table">
		<tr class="field">
			<td class="label"><%= f.label :first_name %></td>
			<td class="input"><%= f.text_field :shipping_first_name %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :last_name  %></td>
			<td class="input"><%= f.text_field :shipping_last_name %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :shipping_address_1 %></td>
			<td class="input"><%= f.text_field :shipping_address_1 %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :shipping_address_2 %></td>
			<td class="input"><%= f.text_field :shipping_address_2 %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :shipping_city, 'City' %></td>
			<td class="input"><%= f.text_field :shipping_city %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :shipping_state, 'State' %></td>
			<td class="input"><%= f.text_field :shipping_state %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :shipping_post_code, 'Post Code' %></td>
			<td class="input"><%= f.text_field :shipping_post_code %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :shipping_country, 'Country' %></td>
			<td class="input"><%= f.text_field :shipping_country %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :telephone %></td>
			<td class="input"><%= f.text_field :telephone %></td>
		</tr>
	</table>
</fieldset>
