<div class="carts">
	<%= form_for cart do |cart_form| %>
		<table class="carts" style="width: 100%">
			<tr>
				<th>Line</th>
				<th>Item</th>
				<th>Description</th>
				<th class="number">Quantity</th>
				<th class="number">Price</th>
				<th class="number">Ext</th>
				<th class="number">Weight</th>
			</tr>
			<%= cart_form.fields_for :line_items do |line_form| %>
				<% line_item = cart.line_items[line_form.index] %>
				<tr>
					<% model = line_item.product.model + line_item.option.model %>
					<% item = line_item.product.category + ', ' + line_item.option.description %>
					<td style="text-align: center"><%= line_form.index + 1 %></td>
					<td><%= link_to model, line_item.product %></td>
					<td><%= link_to item, line_item.product %></td>
					<td class="quantity-cell" style="text-align: center">
						<%= line_item.quantity %>
					</td>
					<td class="item-price">
						<%= number_to_currency(line_item.option.price, precision: 0) %>
					</td>
					<td class="item-price">
						<%= number_to_currency(line_item.extended_price, precision: 0) %>
					</td>
					<td class="weight-cell" style="text-align: center">
						<%= line_item.extended_weight %>
					</td>
				</tr>
			<% end %>
			<tr class="total-line">
				<td class="total-cell" colspan="5">Total</td>
				<td class="total-cell">
					<%= number_to_currency(cart.total_price, precision: 0) %>
				</td>
				<td class="total-weight-cell">
					<%= cart.total_weight %>
				</td>
			</tr>
		</table>
	<% end %>
</div>
