<fieldset id="address">
	<legend><%= legend %></legend>
	<div class="field" >
		<%= f.radio_button :checkout_method, 'guest', :checked => true %>
		<%= f.label :checkout_method, 'Checkout as guest', value: 'guest' %> 
		<%= f.radio_button :checkout_method, 'login' %>
		<%= f.label :checkout_method, 'Login now', value: 'login' %> 
		<%= f.radio_button :checkout_method, 'create' %>
		<%= f.label :checkout_method, 'Create account', value: 'create' %> 
	</div>
	<div class="field" style="display: inline-block; width: 33%">
		<%= f.label :email, 'Email address' %>
 		<%= f.text_field :email %>
	</div>
	<div class="field" style="display: inline-block; width: 32%">
		<%= f.label :password, 'Password' %>
 		<%= f.password_field :password %>
	</div>
</fieldset>

