<fieldset id="address">
	<h5>If you're already registered or to create a new account, enter your information below:</h5>
	<div id=login>
		<div class="login-fields">
			<div class="field">
				<%= f.label :email, 'Email address' %>
		 		<%= f.text_field :email %>
			</div>
			<div class="field">
				<%= f.label :password, 'Password', width: '30%' %>
		 		<%= f.password_field :password %>
			</div>
		</div>
		<div class="login-buttons">
			<div class="form-button">
				<%= f.button 'Login', class: 'button' %>
			</div>
			<div class="form-button">
				<%= f.button 'Create Account', class: 'button' %>
			</div>
		</div>
	</div>
	<h5>Otherwise, checkout as a guest or use your PayPal account:</h5>
	<div class="checkout-buttons">
		<div class="form-button">
			<%= link_to 'Back to Cart', :back, class: 'button', id: 'back' %>
		</div>
		<div class="form-button">
			<%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"),	express_orders_path, class: 'paypal-button' %>
		</div>
		<div class="form-button">
			<%= f.button 'Checkout as Guest', class: 'button' %>
		</div>
	</div>
</fieldset>

