<table class="confirm-cart" style="width: 100%">
	<tr id="header">
		<th id="line">Record</th>
		<th id="line">Order ID</th>
		<th id="item">Email</th>
		<th id="item">Cart ID</th>
		<th id="item">Created</th>
		<th id="item">Shipped</th>
		<th id="item">Action</th>		
	</tr>
	<% @orders.each_with_index do |order, index| %>
		<tr>
			<td class="line-cell"><%= index + 1 %></td>
			<td class="item-cell"><%= link_to order.id, order %></td>
			<td class="item-cell"><%= order.email %></td>
			<td class="item-cell"><%= order.cart_id %></td>
			<td class="item-cell"><%= order.created_at.to_formatted_s(:default) %></td>
			<td class="item-cell"><%= order.created_at.to_formatted_s(:default) %></td>
			<td class="item-cell">
				<%= link_to "view", order %>
				&nbsp; | &nbsp;
				<%= link_to "ship", get_tracking_number_order_path(order) %>
				&nbsp; | &nbsp;
				<%= link_to "delete", order, method: :delete, data: { confirm: "Are you sure?" } %>
			</td>
		</tr>
	<% end %>
</table>
