<fieldset class="confirm-shipper">
	<legend><%= legend %></legend>
	<table class="confirm-table">
    <tr>
      <td><%= f.shipping_method %></td>
      <td><%= cents_to_dollars(f.shipping_cost, precision: 2) %></td>
    </tr>
    <tr>
      <td><%= label_tag :ship_date %></td>
      <td><%= f.ship_date %></td>
    </tr>
		<tr>
			<td><%= label_tag :tracking_number %></td>
			<td><%= f.tracking_number %></td>
		</tr>
	</table>
</fieldset>
