<fieldset id="shipper">
	<legend><%= legend %></legend>
	<div class="field" >
		<ul>
			<li>
				<%= f.radio_button :shipping_method, 'ups_ground', :checked => true %>
				<%= f.label :shipping_method, 'UPS Ground', value: 'ups_ground' %>
			</li>
			<li> 
				<%= f.radio_button :shipping_method, 'ups_3_day' %>
				<%= f.label :shipping_method, 'UPS 3 Day', value: 'ups_3_day' %>
			</li>
			<li> 
				<%= f.radio_button :shipping_method, 'ups_2_day' %>
				<%= f.label :shipping_method, 'UPS 2 Day', value: 'ups_2_day' %>
			</li>
		</ul> 
	</div>
</fieldset>
