<% provide(:title, 'Billing Address') %>

<div class="box_2">
	<div class="row">
		<div class="small-12 columns main">
			<div class="addresses">				
				<%= render 'shared/progress_bar' %>
				<%= form_for @order, url: create_addresses_order_path(@order), method: 'post' do |order| %>
					<%= render 'shared/errors', object: order.object %>
					<div class="address">
						<%= order.fields_for :addresses, @billing do |billing| %>
							<%= render 'addresses/address_form', f: billing %>
						<% end %>
					</div>
					<div class="address">
						<%= order.fields_for :addresses, @shipping do |shipping| %>
							<%= render 'addresses/address_form', f: shipping %>
						<% end %>
					</div>
					<div class="actions">
						<div class="form-button">
							<%= link_to 'Back to Checkout Method', :back, class: 'button', id: 'back' %>
						</div>
						<div class="form-button">
							<%= order.submit 'Continue Checkout', class: 'button' %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>	
</div>

