<% provide(:title, 'Billing Address') %>

<div class="box_2">
	<div class="row">
		<div class="small-12 columns main">
			<div class="addresses">				
				<%= render 'shared/progress_bar' %>
				<%= form_for @order, url: create_addresses_order_path(@order), method: 'post' do |order| %>
					<%= render 'shared/errors', object: order.object %>
					<div class="address">
						<%= order.fields_for :addresses, @order.addresses.first do |billing| %>
							<%= render 'addresses/address_form', f: billing %>
						<% end %>
					</div>
					<div class="address">
						<div id="use-billing">
							<%= order.check_box :use_billing, { id: 'use-billing' }, 'yes', 'no' %>
							<%= order.label :use_billing, 'Shipping address same as billing?' %>
						</div>
						<%= order.fields_for :addresses, @order.addresses.second do |shipping| %>
							<%= render 'addresses/address_form', f: shipping %>
						<% end %>
					</div>
					<div class="button-box">
						<%= link_to 'Back to Cart', cart_path, class: 'button user' %>
						<%= order.submit 'Continue Checkout', class: 'button user' %>
					</div>
				<% end %>
			</div>
		</div>
	</div>	
</div>

