<% provide(:title, 'Billing Address') %>

<div class="box_2">
	<div class="row">
		<div class="small-3 columns sidebar">
			<%= render 'layouts/sidebar_left' %>
		</div>
		<div class="small-9 columns main">
			<div class="addresses">				
				<%= render 'shared/progress_bar' %>
				<div class="address">
					<%= form_for [@order, @address], url: create_billing_order_path(@order) do |f| %>
						<%= render 'shared/errors', object: f.object %>
						<%= render 'address_form', f: f, type: @type %>
						<div class="actions">
							<div class="form-button">
								<%= link_to 'Back to Checkout Method', :back, class: 'button', id: 'back' %>
							</div>
							<div class="form-button">
								<%= f.submit 'Continue Checkout', class: 'button' %>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>	
</div>

