<% provide(:title, 'Confirm Order') %>
<% billing = @order.addresses.find_by(:address_type => 'billing') %>
<% shipping = @order.addresses.find_by(:address_type => 'shipping') %>
<div class="box_2">
	<div class="row">
		<div class="small-3 columns sidebar">
			<%= render 'layouts/sidebar_left' %>
		</div>
		<div class="small-9 columns main">
			<%= render 'shared/progress_bar' %>
			<div class='address-box'>
				<%= render 'confirm_address', f: billing, legend: 'Billing Address' %>
				<%= render 'confirm_address', f: shipping, legend: 'Shipping Address' %>
			</div>
			<div class="address-box">
				<%= render 'confirm_payment', f: @order, legend: 'Payment' %>
				<%= render 'confirm_shipper', f: @order, legend: 'Shipping Method' %>
			</div>
			<%= render 'confirm_cart', :cart => @cart %>
			<%= link_to 'Back', :back, class: "button"  %>
			<%= form_for @order, url: order_path(@order) do |f| %>
				<%= f.submit 'Continue Checkout', class: "button" %>
			<% end %>
		</div>
	</div>	
</div>

