<% provide(:title, 'Confirm Order') %>
<% billing = @order.addresses.find_by(:address_type => 'billing') %>
<% shipping = @order.addresses.find_by(:address_type => 'shipping') %>
<div class="box_2">
	<div class="row">
		<div class="small-12 columns main">
			<%= render 'shared/progress_bar' %>
			<div class='review-box'>
				<%= render 'confirm_address', f: billing, legend: 'Billing Address' %>
				<%= render 'confirm_address', f: shipping, legend: 'Shipping Address' %>
				<%= render 'confirm_shipper', f: @order, legend: 'Shipping Method' %>
			</div>
			<%= render 'confirm_cart', cart: @cart %>
			<%= form_for @order, url: @redirect, method: :patch do |f| %>
				<%= f.hidden_field :express_token %>
				<div class="actions">
					<div class="form-button">
						<%= link_to 'Back to Shipping Method', :back, class: 'button', id: 'back' %>
					</div>
					<div class="form-button">
						<%= f.submit 'Continue Checkout', class: 'button' %>
					</div>
				</div>
			<% end %>
		</div>
	</div>	
</div>

