<% provide(:title, 'Get Tracking Number for Order ' + @order.id.to_s) %>

<div class="box_2">
	<div class="row">
		<%= render 'shared/errors', object: @transaction %>
    <div class="small-5 columns main">
      <div class='row'>
        <%= render 'address', f: @billing, legend: 'Billing Address' %>
        <%= render 'address', f: @shipping, legend: 'Shipping Address' %>
      </div>
    </div>
    <div class="small-7 columns main">
      <div class='row'>
        <%= render 'shipping', f: @order, legend: 'Shipping Method' %>
        <%= render 'email', f: @order, legend: 'Email' %>
        <%= render 'token', f: @order, legend: 'Card Token' %>
      </div>
    </div>
    <div class="small-12 columns main">
      <div class='row'>
        <%= render 'cart' %>
        <%= form_for @order, url: send_tracking_number_order_path(@order), method: :patch do |form| %>
          <div class="button-box">
            <%= fields_for @transaction do |f| %>
              <div class="small-2 columns">
                <%= f.label :tracking_number, nil, class: "right inline" %>
              </div>
              <div class="small-7 columns">
                <%= f.text_field :tracking_number %>
              </div>
            <% end %>
            <div class="small-1 columns">
              <%= form.submit 'Send', class: 'button user left inline' %>
            </div>
            <div class="small-2 columns">
              <%= link_to 'Quit', orders_path, class: 'button user left inline' %>
            </div>
          </div>
        <% end %>
      </div>
		</div>
	</div>	
</div>

