<% provide(:title, 'Get Tracking Number for Order ' + @order.id.to_s) %>

<div class="box_2">
	<div class="row">
		<div class="small-12 columns main">
      <%= render 'shared/errors', object: @order %>
			<%= render 'shared/errors', object: @transaction %>
      <%= form_for @order, url: send_tracking_number_order_path(@order), method: :patch do |form| %>
        <div class='review-box'>
          <%= render 'address', f: @billing, legend: 'Billing Address' %>
          <%= render 'address', f: @shipping, legend: 'Shipping Address' %>
          <%= render 'shipping', f: @order, legend: 'Shipping Method' %>
        </div>
        <%= render 'cart' %>
        <div class="button-box">
          <%= fields_for @transaction do |f| %>
            <tr class="field">
              <td class="label"><%= f.label :tracking_number %></td>
              <td class="input"><%= f.text_field :tracking_number %></td>
            </tr>
          <% end %>
          <%= form.submit 'Send', class: 'button user' %>
          <%= link_to 'Quit', orders_path, class: 'button user' %>
        </div>
			<% end %>
		</div>
	</div>	
</div>

