<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Cart</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Shipping address 1</th>
      <th>Shipping address 2</th>
      <th>Shipping city</th>
      <th>Shipping state</th>
      <th>Shipping post code</th>
      <th>Shipping country</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Card type</th>
      <th>Card expires on</th>
      <th>Cart</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.cart_id %></td>
        <td><%= order.first_name %></td>
        <td><%= order.last_name %></td>
        <td><%= order.shipping_address_1 %></td>
        <td><%= order.shipping_address_2 %></td>
        <td><%= order.shipping_city %></td>
        <td><%= order.shipping_state %></td>
        <td><%= order.shipping_post_code %></td>
        <td><%= order.shipping_country %></td>
        <td><%= order.email %></td>
        <td><%= order.telephone %></td>
        <td><%= order.card_type %></td>
        <td><%= order.card_expires_on %></td>
        <td><%= order.cart_id %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
