<% provide(:title, 'Shipper') %>

<div class="box_2">
	<div class="row">
		<div class="small-3 columns sidebar">
			<%= render 'layouts/sidebar_left' %>
		</div>
		<div class="small-9 columns main">
			<%= render 'shared/progress_bar' %>
			<%= form_for @order, url: update_shipper_order_path(@order) do |f| %>
				<%= render 'shared/errors', object: f.object %>
				<%= render 'shipper_form', f: f, legend: 'Shipping Method' %>
				<%= link_to 'Back', :back, class: "button"  %>
				<%= f.submit 'Continue Checkout', class: "button" %>
			<% end %>
		</div>
	</div>	
</div>

