<% provide(:title, 'Order ' + @order.id.to_s) %>

<div class="box_2">
	<div class="row">
    <div class="small-5 columns main">
      <div class='row'>
        <%= render 'address', f: @billing, legend: 'Billing Address' %>
        <%= render 'address', f: @shipping, legend: 'Shipping Address' %>
      </div>
    </div>
    <div class="small-7 columns main">
      <div class='row'>
        <%= render 'shipping', f: @order, legend: 'Shipping Method' %>
        <%= render 'email', f: @order, legend: 'Email' %>
        <%= render 'token', f: @order, legend: 'Card Token' %>
      </div>
    </div>
    <div class="small-12 columns main">
      <div class='row'>
				<%= render 'cart' %>
      </div>
      <div class="button-box">
        <%= link_to 'Quit', orders_path, class: 'button user' %>
        <%= link_to 'Ship', get_tracking_number_order_path(order), class: 'button user' %>
        <%= link_to 'Delete', @order, method: :delete, class: 'button user', data: { confirm: "Are you sure?" } %>
      </div>
    </div>
	</div>	
</div>

