<fieldset class="address">
	<legend><%= f.object.address_type.capitalize + " Address" %></legend>
	<table class="address-table">
		<%= f.hidden_field :address_type, value: f.object.address_type %>
		<tr class="field">
			<td class="label"><%= f.label :first_name %></td>
			<td class="input"><%= f.text_field :first_name %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :last_name  %></td>
			<td class="input"><%= f.text_field :last_name %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :address_1 %></td>
			<td class="input"><%= f.text_field :address_1 %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :address_2 %></td>
			<td class="input"><%= f.text_field :address_2 %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :city, 'City' %></td>
			<td class="input"><%= f.text_field :city %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :state_code, 'State' %></td>
			<td class="input"><%= render partial: 'addresses/subregion_select',
														locals: { select_name: f.object_name,
																			subregion: f.object.state_code,
																			parent_region: f.object.country } %>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :country, 'Country' %></td>
			<td class="input"><%= f.country_select :country, priority: %w{ US }, selected: 'US' %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :post_code, 'Post Code' %></td>
			<td class="input"><%= f.text_field :post_code %></td>
		</tr>
		<tr class="field">
			<td class="label"><%= f.label :telephone %></td>
			<td class="input"><%= f.text_field :telephone %></td>
		</tr>
	</table>
</fieldset>
