= provide(:title, 'FAQ Categories Index')

.box_2
  .row
    .medium-9.small-12.columns
      %h5 FAQ Categories
      %ul.users
        = render layout: 'category_headers' do
          = render partial: 'category', collection: @categories
      .admin-box
        = link_to "New FAQ Category", new_faqs_category_path, class: 'button admin'
        = link_to "Quit", admin_path, class: 'button admin'
    .medium-3.small-12.columns
      = render 'layouts/sidebar'