<div class="section-header"><%= title %></div>
<% products.each do |product| %>
	<%= render 	:partial => "small_product", 
							:locals => {
							:p => product,
						 	:legend => product.model } %>
 	<% if signed_in_admin? %>
	<div class="actions">
		<%= link_to 'Edit', edit_product_path(product), class: "admin-button"%>
		<%= link_to 'Show', product, class: "admin-button" %>
		<%= link_to 'Delete', product, method: :delete, class: "admin-button", data: { :confirm => 'Are you sure?' } %>
	</div>
	<% end %>
<% end %>

