<fieldset style="margin: 1em 0em 0em 0em; border: none">
	<legend><%= legend %></legend>
	<div class="field" style = "float: left; width: 25%">
		<%= f.label :model, 'Model:' %>
		<%= f.text_field :model %>
	</div>
	<div class="field" style = "float: left; width: 25%">
		<%= f.label :model_weight, 'Model Sort Weight:' %>
		<%= f.number_field :model_weight, in: 1..100 %>
	</div>
	<div class="field" style = "float: left; width: 25%">
		<%= f.label :category, 'Category:' %>
		<%= f.select :category, options_for_select(['Microphone Preamp', 'Compressor', 'DI', 'Discrete Op-Amp', 'Chassis']) %>
	</div>
	<div class="field" style = "float: left; width: 25%">
		<%= f.label :category_weight, 'Category Sort Weight:' %>
		<%= f.number_field :category_weight, in: 1..100 %>
	</div>
	<div class="field" style = "float: left; width: 50%">
		<%= f.label :upc, 'UPC:' %>
		<%= f.text_field :upc %>
	</div>
	<div class="field" style = "float: left; width: 50%">
		<%= f.label :price, 'Price:' %>
		<%= f.number_field :price %>
	</div>
	<div class="field">
		<%= f.label :short_description, 'Short Description:' %>
 		<%= f.text_area :short_description, style: "height: 5em" %>
	</div>
	<div class="field">
		<%= f.label :long_description, 'Long Description:' %>
 		<%= f.text_area :long_description, style: "height: 15em" %>
	</div>
	<div class="field">
		<%= f.label :notes, 'Notes:' %>
 		<%= f.text_area :notes, style: "height: 2em" %>
	</div>
	<div class="field">
		<%= f.label :image_1, 'Image_1 URL:' %>
 		<%= f.text_field :image_1 %>
	</div>
	<div class="field">
		<%= f.label :image_2, 'Image_2 URL:' %>
 		<%= f.text_field :image_2 %>
	</div>
	<div class="actions">
		<%= if submit then f.submit submit, :class => :button, :style => "float: left; width: 33%" end %>
		<%= if edit then link_to edit, edit_product_path(@product), :class => :button, :style => "float: left; width: 33%"  end %>
		<%= if quit then link_to quit, products_path, :class => :button, :style => "float: left; width: 33%" end %>
		<%= if delete then link_to delete, @product, method: :delete, :class => :button, :style => "float: left; width: 33%", data: { :confirm => 'Are you sure?' } end %>
	</div>
</fieldset>


