<fieldset>
	<legend><%= legend %></legend>
	<div>
		<p><%= p.model %></p>
		<p><%= p.upc %></p>
		<p><%= p.short_description %></p>
		<p><%= p.long_description %></p>
		<p><%= image_tag(p.image_1) %></p>
		<p><%= image_tag(p.image_2) %></p>
	</div>
	<div class="actions">
		<%= if edit then link_to edit, edit_product_path(@product), :class => :button, :style => "float: left; width: 33%"  end %>
		<%= if quit then link_to quit, products_path, :class => :button, :style => "float: left; width: 33%" end %>
		<%= if delete then link_to delete, @product, method: :delete, :class => :button, :style => "float: left; width: 33%", data: { :confirm => 'Are you sure?' } end %>
	</div>
</fieldset>


