<div class="large-product">
	<div class="image-box">
		<%= link_to image_tag product.image_1, class: "product-image" %>		
	</div>	
	<div class="text-box">
		<%= link_to product.model, p, :class => :model %>
		<% if signed_in? && current_user.admin? %>
			<p><%= product.upc %></p>
		<% end %>
		<div class="long-description">
			<%= product.long_description %>
		</div>
		<div class="notes">
			<%= product.notes %>
		</div>
		<div class="price">
			<%= product.price %>
		</div>
	</div>
	<div class="features-box">
		<% if product.features.any? %>
			<% product.features.each do |feature| %>
				<%= render 	:partial => "feature", 
										:locals => { :f => feature } %>
			<% end %>
		<% end %>
	</div>
 	<% if signed_in? && current_user.admin? %>
		<div class="actions", style="margin: 1em 0 0 0">
			<%= link_to 'New Feature', new_product_feature_path(product), class: "admin-button" %>
		</div>
	<% end %>
	<div class="image-box">
		<%= link_to image_tag product.image_2, class: "product-image" %>		
	</div>	
</div>
