<div class="product large">
	<div class="image-box top">
		<%= link_to image_tag @product.image_1, class: "product-image" %>		
	</div>
	<h5 class="section-header">
		<%= @product.model + ' ' + @product.category %>
	</h5>
	<div class="text-box">
		<div class="description">
			<%= @product.long_description %>
		</div>
		<div class="notes">
			<%= @product.notes.html_safe %>
		</div>
		<%= render 'options/option' %>
		<%= render 'options/admin' %>
  </div>
	<h5 class="section-header">Features</h5>
	<div class="features-box">
		<% if @product.features.any? %>
			<% @product.features.each do |feature| %>
				<%= render 'feature', f: feature, p: @product %>
			<% end %>
		<% end %>
	</div>
 	<% if signed_in_admin? %>
		<div class="admin-box">
			<%= link_to 'New Feature', new_product_feature_path(@product), class: "button admin" %>
		</div>
	<% end %>
	<div class="image-box bottom">
		<%= link_to image_tag @product.image_2, class: "product-image" %>		
	</div>	
</div>
