<div class="large-product">
	<div class="top-image-box">
		<%= link_to image_tag product.image_1, class: "product-image" %>		
	</div>
	<div class="section-header">
		<%= product.model << ' ' << product.category %>
	</div>
	<div class="text-box">
		<div class="long-description">
			<%= product.long_description %>
		</div>
		<div class="notes">
			<%= product.notes %>
		</div>
		<div class="price">
			<%= product.price %>
		</div>
	</div>
	<div class="section-header">Features</div>
	<div class="features-box">
		<% if product.features.any? %>
			<% product.features.each do |feature| %>
				<%= render 	:partial => "feature", 
										:locals => { :f => feature, :p => product } %>
			<% end %>
		<% end %>
	</div>
 	<% if signed_in_admin? %>
		<div class="actions", style="margin: 1em 0 0 0">
			<%= link_to 'New Feature', new_product_feature_path(product), class: "admin-button" %>
		</div>
	<% end %>
	<div class="bottom-image-box">
		<%= link_to image_tag product.image_2, class: "product-image" %>		
	</div>	
</div>
