<div <%= get_product_div_class(index) %>>
	<div class="text-box" <%= "id=text-box-" + @product.id.to_s %>>
		<%= link_to @product.model, product_path(@product), class: :model %>
		<div class="description" <%= "id=short-description-" + @product.id.to_s %>>
			<%= @product.short_description %>
		</div>
		<div class="notes" <%= "id=notes-" + @product.id.to_s %>>
			<%= @product.notes %>
		</div>
		<%= render 'options/option' %>
		<%= render 'options/admin' %>
	</div>
	<div class="image-box" <%= "id=image-box-" + @product.id.to_s %>>
		<%= link_to image_tag(@product.image_1), product_path(@product) %>		
	</div>
</div>
<% if signed_in_admin? %>
	<div class="admin-box">
		<%= link_to 'Edit Product', edit_product_path(@product), class: "button admin"%>
		<%= link_to 'Delete Product', @product, method: :delete, class: "button admin", data: { :confirm => 'Are you sure?' } %>
	</div>
<% end %>	
