<div class="small-product">
	<div class="text-box">
		<%= link_to product.model, product_path(product), class: :model %>
		<% if signed_in_admin? %>
			<p><%= product.upc %></p>
		<% end %>
		<div class="short-description">
			<%= product.short_description %>
		</div>
		<div class="notes">
			<%= product.notes %>
		</div>
		<div class="price-line">
			<div><%= select_tag 'option', options_from_collection_for_select(product.options, 'id', 'model', 0) %></div>
			<div class="price"><%= number_to_currency(product.options[0].price) %></div>
			<div><%= button_to 'Add to Cart', line_items_path(product_id: product) %></div>
		</div>
	</div>
	<div class="image-box">
		<%= link_to image_tag(product.image_1), product_path(product) %>		
	</div>	
</div>
