<div class="small-product">
	<div class="text-box">
		<%= link_to p.model, p, :class => :model %>
		<% if signed_in? && current_user.admin? %>
			<p><%= p.upc %></p>
		<% end %>
		<div class="short-description">
			<%= p.short_description %>
		</div>
		<div class="notes">
			<%= p.notes %>
		</div>
		<div class="price">
			<%= p.price %>
		</div>
	</div>
	<div class="image-box">
		<%= link_to image_tag p.image_1 %>		
	</div>	
</div>
