<fieldset style="margin: 1em 0em 0em 0em; border: none">
	<legend><%= legend %></legend>
	<div class="field">
		<%= f.label :sort_order, 'Sort Order:' %>
		<%= f.number_field :sort_order, in: 1..100 %>
	</div>
	<div class="field">
		<%= f.label :caption, 'Caption:' %>
		<%= f.text_field :caption, style: "height: 5em" %>
	</div>
	<div class="field">
		<%= f.label :description, 'Description:' %>
 		<%= f.text_area :description, style: "height: 5em" %>
	</div>
</fieldset>


