<% provide(:title, "New Feature #{ @feature.id.to_s }") %>

<div class="box_2">
	<div class="row">
		<div class="small-3 columns">
			<%= render 'layouts/sidebar_left' %>
		</div>
		<div class="small-9 columns">
			<%= form_for [@product, @feature] do |f| %>
			 	<% legend = "New #{ @product.model } Feature" %>
				<%= render 'shared/errors', object: f.object %>
				<%= render partial: 'form', locals: { f: f, p: @product, legend: legend } %>
				<div class="admin-box">
					<%= f.submit 'Create', class: 'button admin' %>
					<%= link_to 'Quit', product_path(@product), class: 'button admin' %>
				</div>
			<% end %>
		</div>
	</div>	
</div>

