= provide(:title, "Component #{@component.mfr_part_number} Assemblies")
.box_2
	.row
		.small-12.columns
			= form_for @component, url: component_assembly_path(@component, @bom), method: :put do |f|
				= render 'shared/errors', object: f.object
				= render 'form', f: f, legend: "Edit Assemblies"
				.admin-box
					= f.submit "Update", class: "button admin"
					= link_to "Quit", components_path, class: "button admin"
					= link_to "Delete", component_path(@component), method: :delete, class: "button admin", data: { confirm: 'Are you sure?' }