<fieldset class="confirm-payment">
	<legend><%= legend %></legend>
	<table class="address-table">
		<tr class="field">
			<td class="input"><%= f.card_type %></td>
		</tr>
		<tr class="field">
			<td class="input"><%= f.card_number %></td>
		</tr>
		<tr class="field">
			<td class="input"><%= f.card_verification %></td>
		</tr>
		<tr class="field">
			<td class="input"><%= f.card_expires_on %></td>
		</tr>
		<tr class="field">
			<td class="input"><%= f.email %></td>
		</tr>
	</table>
</fieldset>
