<% provide(:title, 'Payment Method') %>

<div class="box_2">
	<div class="row">
		<div class="small-9 columns main">
			<%= render 'shared/progress_bar' %>
			<%= form_for @card, url: checkout_payment_path(@cart), method: 'patch' do |f| %>
				<%= render 'shared/errors', object: f.object %>
				<%= render 'payment_form', f: f, legend: 'Payment Information' %>
				<div class="button-box">
          <% if @cart.intangible? %>
            <%= link_to 'Back to Addresses', new_checkout_address_path(@cart), class: 'button user' %>
          <% else %>
            <%= link_to 'Back to Shipping', new_checkout_shipping_path(@cart), class: 'button user' %>
          <% end %>
          <%= f.submit 'Continue Checkout', class: 'button user' %>
				</div>
			<% end %>
		</div>
		<div class="small-3 columns sidebar">
			<%= render 'layouts/sidebar_left' %>
		</div>
	</div>	
</div>

