<!--header class="navbar navbar-fixed-top navbar-inverse">-->
<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
			<%= image_tag("title3.gif", class: "title_1") %>
			<%= image_tag("logo4.gif", class: "logo_1") %>
      <nav>
        <ul class="nav pull-left">
					<li><%= link_to "Home",			home_path %></li>
					<li><%= link_to "Products",	products_path %></li>
					<li><%= link_to "FAQ",			faq_path %></li>
					<li><%= link_to "Forums",		forums_path %></li>
					<li><%= link_to "Reviews",	reviews_path %></li>
					<li><%= link_to "Support",	"#" %></li>
					<li><%= link_to "Order",		cart_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
