<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
			<%= image_tag("title3.gif", class: "title_1") %>
			<%= image_tag("logo4.gif", class: "logo_1") %>
      <nav>
        <ul class="nav pull-left">
					<li><%= link_to "Home",			'Home_path' %></li>
					<li><%= link_to "Products",	"products.htm" %></li>
					<li><%= link_to "FAQ",			"mainfaq.htm" %></li>
					<li><%= link_to "Forums",		"msgboard.htm" %></li>
					<li><%= link_to "Reviews",	"reviews.htm" %></li>
					<li><%= link_to "Support",	"#" %></li>
					<li><%= link_to "Order",		"cart.htm" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
