<li><%= link_to "Home", home_path %></li>
<li class="has-dropdown"><%= link_to "Products", products_path %>
  <ul class="dropdown">
    <% @product_categories.each do |k, v| %>
      <li class="has-dropdown"><%= link_to v, '#' %>
        <ul class="dropdown">
          <% @products.where("category = ?", k).each do |p| %>
      			<li><%= link_to p.model + ' ' + p.category, product_path(p) %></li>
          <% end %>
        </ul>
      </li>
		<% end %>
	</ul>
</li>
<li><%= link_to "FAQ",			faqs_path %></li>
<li><%= link_to "Forums",		forums_path %></li>
<li class="has-dropdown"><%= link_to "Support", support_path %>
	<ul class="dropdown">
    <li><%= link_to "Assembly Tips",		tips_path %></li>
    <li><%= link_to "Troubleshooting",	troubleshooting_path %></li>
    <li><%= link_to "Repairs",					repairs_path %></li>
    <li><%= link_to "Resources",				resources_path %></li>
    <li><%= link_to "Contact",					contact_path %></li>
  </ul>
</li>

