<div class="box_3">
	<% if @product %>
		<ul class="custom-side-nav">
			<h6><b><%= @product.model %> Documents</b></h6>
			<li><%= link_to 'Specifications', asset_path(@product.specifications) %></li>
			<li><%= link_to 'Schematic', asset_path(@product.schematic) %></li>
			<li><%= link_to 'Bill of Material', asset_path(@product.bom) %></li>
			<li><%= link_to 'Assembly Instructions', asset_path(@product.assembly) %></li>
		</ul>
	<% end %>

	<% if @products %>
		<ul class="custom-side-nav">
			<h6><b>Products</b></h6>
		    <% product_categories.each do |k, v| %>
		      <li><%= link_to(v, '#', data: { dropdown: "#{k.gsub(/\s+/, "")}" }) %>
		        <ul id='<%="#{k.gsub(/\s+/, '')}"%>' class="f-dropdown" data-dropdown-content>
		          <% @products.where("category = ?", k).each do |p| %>
		      			<li><%= link_to p.model + ' ' + p.category, product_path(p) %></li>
		          <% end %>
		        </ul>
		      </li>
				<% end %>
		</ul>
	<% end %>
	
	<ul class="custom-side-nav">
		<h6><b>Support Links</b></h6>
		<li><%= link_to 'Forums', forums_path %></li>
		<li><%= link_to 'Assembly Tips', tips_path %></li>
		<li><%= link_to 'Troubleshooting Tips', troubleshooting_path %></li>
		<li><%= link_to 'Repair Policy', repairs_path %></li>
		<li><%= link_to 'Shopping Cart', @cart %></li>
		<li><%= link_to 'Web Resources', resources_path %></li>
	</ul>
	
	<%= link_to(image_tag('get_adobe_reader.gif', alt: 'Get Adobe Reader'), href="http://www.adobe.com/products/acrobat/readstep2.html") %>
	
</div>
