<div class="box_3">
	<ul class="custom-side-nav">
		<h6><b>About the...</b></h6>
		<% products.each do |p| %>
			<li><%= link_to p.model + ' ' + p.category, product_path(p) %></li>
		<% end %>
	</ul>
	
	<ul class="custom-side-nav">
		<h6><b>Support Links</b></h6>
		<li><%= link_to 'Forums', forums_path %></li>
		<li><%= link_to 'Assembly Tips', tips_path %></li>
		<li><%= link_to 'Troubleshooting Tips', troubleshooting_path %></li>
		<li><%= link_to 'Repair Policy', repairs_path %></li>
		<li><%= link_to 'Ordering Instructions', @cart %></li>
		<li><%= link_to 'Shopping Cart', @cart %></li>
		<li><%= link_to 'Web Resources', resources_path %></li>
	</ul>
	
	<%= link_to(image_tag('get_adobe_reader.gif', alt: 'Get Adobe Reader'), href="http://www.adobe.com/products/acrobat/readstep2.html") %>
	
</div> <!-- box_3 -->
