<div class="box_3">
	<ul class="custom-side-nav">
		<h6><b>About the...</b></h6>
		<li><%= link_to 'A12 Mic Preamp', home_path %></li>
		<li><%= link_to 'C84 Mic Preamp', home_path %></li>
		<li><%= link_to 'J99 Mic Preamp', home_path %></li>
		<li><%= link_to 'N72 Mic Preamp', home_path %></li>
		<li><%= link_to 'T15 Mic Preamp', home_path %></li>
		<li><%= link_to 'B16 Compressor', home_path %></li>
		<li><%= link_to 'D11 DI Module', home_path %></li>
		<li><%= link_to 'PS03 Power Supply', home_path %></li>
		<li><%= link_to 'CH02 Chassis', home_path %></li>
		<li><%= link_to 'WH01 Wiring Harness', home_path %></li>
	</ul>
	
	<ul class="custom-side-nav">
		<h6><b>Support Links</b></h6>
		<li><%= link_to 'Forums', forums_path %></li>
		<li><%= link_to 'Assembly Tips', tips_path %></li>
		<li><%= link_to 'Troubleshooting Tips', troubleshooting_path %></li>
		<li><%= link_to 'Repair Policy', repairs_path %></li>
		<li><%= link_to 'Ordering Instructions', cart_path %></li>
		<li><%= link_to 'Shopping Cart', cart_path %></li>
		<li><%= link_to 'Web Resources', resources_path %></li>
	</ul>
	
	<%= link_to(image_tag('get_adobe_reader.gif', class: 'adobe', alt: 'Get Adobe Reader'), href="http://www.adobe.com/products/acrobat/readstep2.html") %>
	
</div> <!-- box_3 -->
