%aside.side_box
  -if @product
    %ul.dropdown.menu.vertical.sca-aside{ :data => {:dropdown_menu => ''} }
      %h6
        %b= "#{@product.model} Documents"
      %li= link_to 'Specifications', asset_path(@product.specifications)
      %li= link_to 'Schematic', asset_path(@product.schematic)
      %li= link_to 'Bill of Material', asset_path(@product.bom)
      %li= link_to 'Assembly Instructions', asset_path(@product.assembly)

  -if @products
    %ul.dropdown.menu.vertical.sca-aside{ data: {disable_hover: 'true', click_open: 'true', closing_time: 50, dropdown_menu: ''} }
      %h6
        %b Products
      - product_categories.each do |pc|
        %li
          - category_name = pc.name.pluralize(pc.active_count)
          - category_id = category_name.gsub(/\s+/, '')
          - if pc.active_count > 0 || signed_in_admin?
            = link_to(category_name, '#', data: { dropdown: category_id })
            %ul.vertical.menu.sca-aside{ id: category_id, data: { dropdown_menu: '' }}
              - pc.displays.sorted.each do |p|
                %li= link_to "#{p.model} #{p.product_category.name}", product_path(p)
	
  %ul.dropdown.menu.vertical.sca-aside{ :data => {:dropdown_menu => ''} }
    %h6
      %b Support Links
    %li= link_to 'Forums', forums_path
    %li= link_to 'Assembly Tips', tips_path
    %li= link_to 'Troubleshooting Tips', troubleshooting_path
    %li= link_to 'Repair Policy', repairs_path
    %li= link_to 'Shopping Cart', @cart
    %li= link_to 'Web Resources', resources_path
	
  =link_to(image_tag('get_adobe_reader.gif', alt: 'Get Adobe Reader'), href="http://www.adobe.com/products/acrobat/readstep2.html")