<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Seventh Circle Audio" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sca" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

	  <%= render 'layouts/sca_meta_tags' %>
		<%= render 'layouts/shim' %>

  </head>
  <body class="row">
 		<%= render 'layouts/header' %>	
    <main role="main">
      <%= render 'layouts/messages' %>
	    <%= yield %>
    </main>
		<%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
    <%= debug(@current_user) if Rails.env.development? %>
  </body>
</html>
